In [1]:
import pandas as pd

In [5]:
d = pd.read_csv("data/transactions.csv")
cols = d.columns[1:]
d[cols].head()

         date   time  ticket_number               article  Quantity unit_price
0  2021-01-02  08:38       150040.0              BAGUETTE       1.0     0,90 €
1  2021-01-02  08:38       150040.0      PAIN AU CHOCOLAT       3.0     1,20 €
2  2021-01-02  09:14       150041.0      PAIN AU CHOCOLAT       2.0     1,20 €
3  2021-01-02  09:14       150041.0                  PAIN       1.0     1,15 €
4  2021-01-02  09:25       150042.0  TRADITIONAL BAGUETTE       5.0     1,20 €